{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="container" id="container_table">
    <table class="table text-center table-bordered" id="grid">
    <thead>
    <tr>
        <th scope="col" rowspan="2">#</th>
        <th scope="col" rowspan="2">
         <small>
            <a href=""
               hx-get="{% url 'info:table_info_cpu_sort' filter_table='time' direction='descend' %}"
               hx-target="tbody"
               hx-swap="outerHTML">
                ⇓
            </a>
             Время
            <a href=""
               hx-get="{% url 'info:table_info_cpu_sort' filter_table='time' direction='ascend' %}"
               hx-target="tbody"
               hx-swap="outerHTML">
                ⇑
            </a>
        </small>
        </th>
        <th scope="col" rowspan="2">
        <small>
            <a href=""
               hx-get="{% url 'info:table_info_cpu_sort' filter_table='cpu' direction='descend' %}"
               hx-target="tbody"
               hx-swap="outerHTML">
                ⇓
            </a>
            Нагрузка CPU %
            <a href=""
               hx-get="{% url 'info:table_info_cpu_sort' filter_table='cpu' direction='ascend' %}"
               hx-target="tbody"
               hx-swap="outerHTML">
                ⇑
            </a>
        </small>
        </th>
        <th scope="col" colspan="2">Минимальное</th>
        <th scope="col" colspan="2">Максимальное</th>
        <th scope="col" colspan="2">Среднее</th>
    </tr>
    <tr>
        <th scope="col">Все</th>
        <th scope="col">100</th>

        <th scope="col">Все</th>
        <th scope="col">100</th>

        <th scope="col">Все</th>
        <th scope="col">100</th>

    </tr>
    </thead>

        {% include 'table.html' %}

</table>
</div>
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<script>

    setInterval(() => {
        const request = new XMLHttpRequest();
        const tbody = document.querySelector('tbody')

        let url = '{% url 'info:table_info_cpu' %}'

        request.open('GET', url);

        request.setRequestHeader('Content-Type', 'application/x-www-form-url');

        request.addEventListener('readystatechange', () => {
            if (request.readyState === 4 && request.status === 200) {
                tbody.outerHTML = request.responseText
            }
        });

        request.send();

    }, 10000);
</script>


</body>
</html>