{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
<div class="container" id="container_table">
    {% include 'table.html' %}
</div>

<script>
    setInterval(() => {
        var request = new XMLHttpRequest();

        var url = '{% url 'info:list_info_cpu' %}'

        request.open('GET', url)

        request.setRequestHeader('Content-Type', 'application/x-www-form-url');

        request.addEventListener('readystatechange', () => {
            if (request.readyState === 4 && request.status === 200) {
                var currentEl = document.querySelector('table');
                currentEl.outerHTML = request.responseText
            }
        });

        request.send();

    }, 10000);
</script>
</body>
</html>