<tbody>
    {% for cpu_info in cpu_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ cpu_info.time }}</td>
            <td>{{ cpu_info.cpu }}%</td>

            <td>{{ min_max_avg_all.cpu__min }}%</td>
            <td>{{ min_max_avg_100.cpu__min }}%</td>

            <td>{{ min_max_avg_all.cpu__max }}%</td>
            <td>{{ min_max_avg_100.cpu__max }}%</td>

            <td>{{ min_max_avg_all.cpu__avg }}%</td>
            <td>{{ min_max_avg_100.cpu__avg }}%</td>
        </tr>
    {% endfor %}
</tbody>
